
<div class="container">
    <canvas id="game"></canvas>
    <div id="controls">
        <div class="box">
            <strong>Place Tower Type:</strong>
            <div id="towerTypes">
                <strong>Loading...</strong>
            </div>
            <button id="lazyTop">Lazy Button (top)</button>
            <br>
            <button id="lazyBottom">Lazy Button (bottom)</button>
        </div>
        <div class="box">
            <strong>Send Units</strong>
            <div id="unitTypes">
                <strong>Loading...</strong>
            </div>
        </div>
        <div class="box">
            <strong>Current Selection</strong>
            <div id="selection">
                <strong>TODO</strong>
            </div>
        </div>
        <div class="box">
            <strong>Next Wave</strong>
            <div id="nextWave">
                <strong>TODO</strong>
            </div>
        </div>
        <div class="box">
            <strong>Scores</strong>
            <div id="scores">
                <strong>TODO</strong>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/game.js"></script>
<script src="/javascripts/interface.js"></script>
<script src="/javascripts/client.js"></script>
