body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #039;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  color: #000;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
}

#controls {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#controls div:last-child {
  flex-grow: 1;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#chatInner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#chat {
  flex-grow: 1;
  word-break: break-word;
}

#chatEntryBox {
  display: flex;
  flex-direction: row;
}

#chatEntry {
  flex-grow: 1;
}

#targetStyles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#targetStyles label {
  flex-basis: 26%;
  flex-grow: 1;
}

#unitQueue {
  overflow-y: scroll;
  max-height: 100px;
}
