body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #039;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

